/*https://code.makery.ch/fr/library/javafx-tutorial/part4/*/
* {
    -bg-color : #1d1d1d;
    /*#F9CB9C*/
    -backButton-color : #723813;
    -specialButton-color : #8DC7EC;

    -text-on-bg : #ffffff;
    -font-semibold : "Segoe UI Semibold";
    -font-light : "Segoe UI Light";
}

.background {
    -fx-background-color: -bg-color;
}

.dialog-pane {
    -fx-background-color: -bg-color;
}

.dialog-pane:header .header-panel {
    -fx-background-color: -bg-color;
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: -font-semibold;
    -fx-text-fill: -text-on-bg;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: -font-semibold;
    -fx-text-fill: -text-on-bg;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 40pt;
    -fx-font-family: -font-semibold;
    -fx-text-fill: -text-on-bg;
    -fx-opacity: 1;
}

.table-view {
    -fx-base: -bg-color;
    -fx-control-inner-background: -bg-color;
    -fx-background-color: -bg-color;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color:
        transparent
        transparent
        derive(-fx-base, 80%)
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: -font-light;
    -fx-text-fill: -text-on-bg;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-border-color: transparent -bg-color transparent -bg-color;
    -fx-background-color: transparent, derive(-bg-color,20%);
}

.split-pane {
    -fx-padding: 1 0 0 0;
}

.menu-bar {
    -fx-background-color: derive(-bg-color,20%);
}

.context-menu {
    -fx-background-color: derive(-bg-color,50%);
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: -font-light;
    -fx-text-fill: -text-on-bg;
    -fx-opacity: 0.9;
}

.menu .left-container {
	-fx-background-color: #000000;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: -font-semibold;
}

/*
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: -bg-color;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: -text-on-bg;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: derive(-bg-color, 20%);
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: derive(-bg-color, 50%);
  -fx-text-fill: -bg-color;
}

.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: .9;
    -fx-background-color: derive(-bg-color, 70%);;
    -fx-text-fill: -text-on-bg;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: -text-on-bg;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color,30%);
}

.backButton {
    -fx-background-color: -backButton-color;
}

.backButton:hover {
    -fx-background-color: derive(-backButton-color, 30%);
    -fx-text-fill: -bg-color;
}

.backButton:pressed {
  -fx-background-color: derive(-backButton-color, 50%);
  -fx-text-fill: -bg-color;
}

.specialButton {
    -fx-border-color: -bg-color;
    -fx-background-color: -specialButton-color;
    -fx-text-fill: black;
}

.specialButton:hover {
    -fx-background-color: derive(-specialButton-color, -30%);
    -fx-text-fill: white;
}

.specialButton:pressed {
    -fx-background-color: derive(-specialButton-color, -50%);
    -fx-text-fill: white;
}

.buttonLight {
    -fx-padding: 0;
}

.label-input {
    -fx-font-size: 30pt;
    -fx-font-family: -font-light;
}