

/*https://code.makery.ch/fr/library/javafx-tutorial/part4/*/
* {
    -bg-color : #F9CB9C;
    -btn-color : transparent;
    /*#F9CB9C*/
    -backButton-color : #C27BA0;
    -specialButton-color : #8DC7EC;

    -text-on-bg : black;
    -text-on-btn : white;
    -font-semibold : "Segoe UI Semibold";
    -font-light : "Segoe UI Light";
}

.background {
    -fx-background-color: -bg-color;
}

.dialog-pane {
    -fx-background-color: -bg-color;
}

.dialog-pane .button{
    -fx-font-size: 10pt;
    -fx-text-fill: white;
    -fx-border-radius: 10px;
    -fx-border-color: #9898e5;
    -fx-background-color: transparent;
    -fx-padding: 5px;
}

.dialog-pane .button:hover{
    -fx-border-color: #656592;
    -fx-effect: dropshadow( three-pass-box, white, 10.0, 0.0, 0.0, 0.0);
}

.dialog-pane .button:pressed{
    -fx-text-fill: #9898e5;
    -fx-border-color: #9898e5;
}
.dialog-pane:header .header-panel {
    -fx-background-color: -bg-color;
}

.label {
    -fx-font-size: 15pt;
    -fx-font-family: -font-semibold;
    -fx-text-fill: -text-on-bg;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: -font-semibold;
    -fx-text-fill: -text-on-btn;
    -fx-font-weight: bold;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 40pt;
    -fx-font-family: -font-semibold;
    -fx-text-fill: -text-on-btn;
    -fx-opacity: 1;
}

.label-header.label .text, .label-input .text{
    -fx-stroke: black;
    -fx-stroke-width: 1;
}

.label-input {
    -fx-font-size: 30pt;
    -fx-font-family: -font-light;
    -fx-text-fill: -text-on-btn;
}

.label-piece{
    -fx-font-size: 13pt;
    -fx-text-fill: black;
    -fx-font-weight: bold;
}

.table-view {
    -fx-base: -bg-color;
    -fx-control-inner-background: -bg-color;
    -fx-background-color: -bg-color;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color:
        transparent
        transparent
        derive(-fx-base, 80%)
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: -font-light;
    -fx-text-fill: -text-on-bg;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-border-color: transparent -bg-color transparent -bg-color;
    -fx-background-color: transparent, derive(-bg-color,20%);
}

.split-pane {
    -fx-padding: 1 0 0 0;
}

.menu-bar {
    -fx-background-color: derive(-bg-color,20%);
}

.context-menu {
    -fx-background-color: derive(-bg-color,50%);
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: -font-light;
    -fx-text-fill: -text-on-bg;
    -fx-opacity: 0.9;
}

.menu .left-container {
	-fx-background-color: #000000;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: -font-semibold;
}

.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 5;
    -fx-background-radius: 0;
    -fx-border-radius: 10px;
    -fx-background-color: -btn-color;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 18pt;
    -fx-text-fill: -text-on-btn;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-font-weight: bold;
}

.button:pressed, .button:default:hover:pressed {
    -fx-border-color: #c3a7a7;
    -fx-text-fill: #d9c3c3;
}

.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 5;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-radius: 10px;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: .9;
    -fx-background-color: derive(-bg-color, 70%);;
    -fx-text-fill: -text-on-bg;
    -fx-border-radius: 0px;
}

.button:default {
    -fx-text-fill: -text-on-btn;
}

.button:default:hover {
    -fx-font-weight: bold;
}

.backButton {
    -fx-border-color: -backButton-color;
}

.backButton:hover {
    -fx-border-color: derive(-backButton-color, -30%);
    -fx-text-fill: derive(-backButton-color, -30%);
    -fx-font-weight: bold;
}

.backButton:pressed {
    -fx-border-color: derive(-backButton-color, -30%);
    -fx-text-fill: white;
}

.specialButton {
    -fx-border-color: -specialButton-color;
    -fx-text-fill: white;
}

.specialButton:hover {
    -fx-text-fill: derive(-specialButton-color, -30%);
    -fx-font-weight: bold;
    -fx-border-color: derive(-specialButton-color, -30%);
}

.specialButton:pressed {
    -fx-border-color: derive(-specialButton-color, -50%);
    -fx-text-fill: white;
}

.buttonLight {
    -fx-padding: 0;
    -fx-font-size: 14pt;
    -fx-font-weight: bold;
    -fx-border-radius: 0px;
}

